VITE_ENV=development
#VITE_ENV=production
SSL_KEY_PATH=/etc/letsencrypt/live/grifo.chagualito.pe/privkey.pem
SSL_CERT_PATH=/etc/letsencrypt/live/grifo.chagualito.pe/fullchain.pem
#CORS_ORIGIN=http://127.0.0.1:8000
#CORS_ORIGIN=https://grifo.chagualito.pe
CORS_ORIGIN=*
PORT=3000
URL_DEV=127.0.0.1
URL_PROD=grifo.chagualito.pe

PROTOCOL_DEV=http
PROTOCOL_PROD=https

PORT_WSP=9000
PORT_SOCKET_WSP=4000
